<!DOCTYPE html>
<html>

<head>
    <title>xcpt Insights</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/index.css" />
</head>

<body>
    <div class="main-menu">
        <span class="title-xcpt">XCPT</span>
        <span class="title-insights">Insights</span>
    </div>
    <div class="main-wrapper">
        <div class="package-list ui list">
            <div class="active item">
                <div class="header">mongodb</div>
                <p>nodejs</p>
            </div>
            <div class="item">
                <div class="header">express</div>
                <p>javascript</p>
            </div>
        </div>
        <div class="insights">
            <div class="ui secondary pointing menu">
                <a class="active item">
                    Exceptions
                </a>
                <a class="item">
                    Inbox
                </a>
                <a class="item">
                    Analytics
                </a>
                <div class="right menu">
                    <a class="ui item">
                        <div class="ui transparent icon input">
                            <input type="text" placeholder="Search">
                            <i class="search link icon"></i>
                        </div>
                    </a>
                </div>
            </div>
            <div class="exception-charts">
                <div id="exception-breakdown" style="width: 100%; height: 400px;"></div>
            </div>
            <div class="exceptions-list">
            </div>
        </div>

        <div class="footer">
            XCPTInc
        </div>

        <script id="exceptions-list-template" type="text/x-handlebars-template">
            <div class="ui styled fluid accordion">
                {{#each .}}
                <div class="title">
                    <i class="plus circle icon"></i> {{feedback.exception}}
                    <div class="ui red label">
                        {{times}}
                    </div>
                </div>
                <div class="content">
                    <p class="transition hidden">
                        <h3>Feedback:</h3>
                        {{#each feedback.items}}
                        <p> {{.}} </p>
                        {{/each}}
                    </p>
                </div>
                {{/each}}
            </div>
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
        <script src="javascripts/index.js"></script>
</body>

</html>