body {
	padding: 40px 100px;
	font-family: 'Open Sans', sans-serif;
}

.main-menu {
    padding: 14px 30px;
    border-bottom: 1px #e2e2e2 solid;
}

.title-xcpt {
    font-size: 2.8rem;
    font-weight: 700;
}

.title-insights {
    font-size: 3rem;
    font-weight: 300;
}

.main-wrapper {
	padding-top: 50px;
}

.main-wrapper>div {
	display: inline-block;
	vertical-align: top;
	padding: 0 20px;
}

.package-list {
    background: #f7f7f7;
    width: 15%!important;
    border-radius: 2px;
}

.package-list>.item {
	padding: 15px 15px!important;
}

.insights {
	width: 84.5%!important;
}

.exceptions-list {
	margin-top: 5px!important;
}

.accordion {
	border-radius: 0!important;
}

.accordion .title {
	height: 60px!important;
	line-height: 40px!important;
	border-radius: 0!important;
	background-color:rgb(249, 249, 249)
}

.accordion .content {
	background-color: #2c3e50;
	color: #fff;
}

.ui.styled.accordion .accordion .title, .ui.styled.accordion .title {
	color: rgb(0, 0, 0) !important;
}